.EmployeeScheduler-home {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    /* text-align: center; */
    align-items: center;
    flex-direction: column;
}

.EmployeehomeEdits{
    /* position: absolute; */
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(270deg, rgb(22, 80, 74),rgb(178, 255, 201));
}

.logo{
    /* width: 100%; */
}
.EmployeeScheduler-home span {
    color: white;
    font-size: 0.9rem;
    /* font-weight: bold; */
    margin-right: 10px;
}

.EmployeeScheduler-home p {
    color: #fff;
    font-size: 0.8rem;
    margin: 0;
    font-style: italic;
}
